---
import BaseLayout from "../../layouts/BaseLayout.astro";
const allPosts = Object.values(
  import.meta.glob("../posts/*.md", { eager: true })
);
const tags = [
  ...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat()),
];
const pageTitle = "Tag Index";
---

<BaseLayout pageTitle={pageTitle}>
  <ul class="flex flex-wrap p-0 m-0 list-none">
    {
      tags.map((tag) => (
        <li>
          <a class="tag block py-1 px-2 m-1 rounded bg-white" href={`/tags/${tag}`}>
            {tag}
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
