---
import Section from "../Section.astro";

interface Props {
  headline: string;
  secondaryHeadline?: string;
}

const { headline, secondaryHeadline } = Astro.props;
---

<Section headline={headline}>
  <div class="grid gap-4 mt-8">
    {
      secondaryHeadline && (
        <h3 class="font-medium text-md leading-8 text-balance text-orange">
          {secondaryHeadline}
        </h3>
      )
    }
    <slot />
  </div>
</Section>
