---
import AboutSection from "@components/about/AboutSection.astro";
import DateItem from "@components/about/DateItem.astro";
import TertiaryHeadline from "@components/TertiaryHeadline.astro";

const experienceItems = [
  {
    company: "Sullivan",
    positions: [
      {
        position: "Front-End Developer",
        startDate: "2025-01",
        endDate: "",
      },
    ],
  },
  {
    company: "Elegant Seagulls",
    positions: [
      {
        position: "Senior Front-End Developer",
        startDate: "2021-10",
        endDate: "2025-01",
      },
      {
        position: "Front-End Developer",
        startDate: "2015-12",
        endDate: "2021-10",
      },
      { position: "Intern", startDate: "2015-09", endDate: "2015-12" },
    ],
  },
];
---

<AboutSection headline="Experience">
  {
    experienceItems?.length && (
      <ol class="grid gap-5">
        {experienceItems.map((item) => (
          <li>
            <TertiaryHeadline text={item.company} />
            {item.positions?.length && (
              <ol class="grid gap-2 mt-2">
                {item.positions.map((position) => (
                  <li>
                    <DateItem
                      type="Experience"
                      title={position.position}
                      startDate={position.startDate}
                      endDate={position.endDate}
                    />
                  </li>
                ))}
              </ol>
            )}
          </li>
        ))}
      </ol>
    )
  }
</AboutSection>
