---
import Section from "../Section.astro";
import ExperienceItem from "./ExperienceItem.astro";

const experienceItems = [
  { position: "Senior Front-End Developer", startDate: "2021-10" },
  { position: "Front-End Developer", startDate: "2015-12", endDate: "2021-10" },
  { position: "Intern", startDate: "2015-08", endDate: "2015-12" },
];
---

<Section headline="Experience">
  <div class="grid gap-4 mt-8">
    <h3 class="font-medium text-md leading-8 text-balance text-orange">
      Elegant Seagulls
    </h3>
    {
      experienceItems?.length && (
        <ol class="grid gap-2">
          {experienceItems.map((item) => (
            <ExperienceItem position={item.position} startDate={item.startDate} endDate={item.endDate} />
          ))}
        </ol>
      )
    }
  </div>
</Section>
