---
import AboutSection from "./AboutSection.astro";
import DateItem from "./DateItem.astro";

const experienceItems = [
  { position: "Senior Front-End Developer", startDate: "2021-10" },
  { position: "Front-End Developer", startDate: "2015-12", endDate: "2021-10" },
  { position: "Intern", startDate: "2015-09", endDate: "2015-12" },
];
---

<AboutSection headline="Experience" secondaryHeadline="Elegant Seagulls">
  {
    experienceItems?.length && (
      <ol class="grid gap-2">
        {experienceItems.map((item) => (
          <li>
            <DateItem
              type="experience"
              title={item.position}
              startDate={item.startDate}
              endDate={item.endDate}
            />
          </li>
        ))}
      </ol>
    )
  }
</AboutSection>
