---
import AboutSection from "@components/about/AboutSection.astro";
import InlineLink from "@components/InlineLink.astro";
---

<AboutSection headline="Profile">
  <div class="grid gap-y-1 max-w-[80ch]">
    <p>
      I develop fully custom WordPress themes, build enterprise level websites
      with Next.js, and oversee digital accessibility as a Senior Front-End
      Developer at <InlineLink href="https://www.elegantseagulls.com/"
        >Elegant Seagulls</InlineLink
      > in Marquette, Michigan.
    </p>
    <p>
      Currently working with <InlineLink href="https://astro.build/"
        >Astro</InlineLink
      >, <InlineLink href="https://tailwindcss.com/">Tailwind</InlineLink>, and <InlineLink
        href="https://www.typescriptlang.org/">TypeScript</InlineLink
      >.
    </p>
    <p>
      In my free-time, I <InlineLink href="https://jacobproffer.com/"
        >write</InlineLink
      >, study <InlineLink href="https://jacobproffer.com/japanese/"
        >Japanese</InlineLink
      >, and run trails.
    </p>
  </div>
</AboutSection>
