---
import BaseLayout from "../layouts/BaseLayout.astro";
import Experience from "../components/about/Experience.astro";
import Education from "../components/about/Education.astro";
import Hero from "../components/Hero.astro";
const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
    <Hero headline={pageTitle} />
    <div class="grid gap-8">
        <Experience />
        <Education />
    </div>
</BaseLayout>