---
import BaseLayout from "@layouts/BaseLayout.astro";
import Profile from "@components/about/Profile.astro";
import Experience from "@components/about/Experience.astro";
import Education from "@components/about/Education.astro";
import Hero from "@components/Hero.astro";
const pageTitle = "About Jacob Proffer";
const secondaryHeadline = "Front-End Developer and Accessibility Advocate";
---

<BaseLayout pageTitle={pageTitle}>
  <Hero headline={pageTitle} secondaryHeadline={secondaryHeadline} />
  <div class="grid gap-8">
    <Profile />
    <Experience />
    <Education />
  </div>
</BaseLayout>
