---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import ProjectGrid from "../components/ProjectGrid.astro";
const pageTitle = "Jacob Proffer";
const secondaryHeadline = "Senior Front-End Developer at Elegant Seagulls"
---

<BaseLayout pageTitle={pageTitle}>
  <Hero headline={pageTitle} secondaryHeadline={secondaryHeadline} />
  <div class="grid gap-8">
    <ProjectGrid headline="Recent Projects" topSpacing />
  </div>
</BaseLayout>
