---
import BaseLayout from "@layouts/BaseLayout.astro";
import Avatar from "@components/Avatar.astro";
import Hero from "@components/Hero.astro";
import ProjectGrid from "@components/ProjectGrid.astro";
import Experience from "@components/Experience.astro";
import Education from "@components/Education.astro";
const pageTitle = "Jacob Proffer";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="grid gap-3 md:gap-6">
    <div class="grid gap-3 md:grid-cols-[1fr_3fr] md:gap-6">
      <Avatar />
      <Hero headline={pageTitle} />
    </div>
    <ProjectGrid headline="Side Projects" />
    <div class="grid gap-3 items-start md:grid-cols-2 md:gap-6">
      <Experience />
      <Education />
    </div>
  </div>
</BaseLayout>
