---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
const pageTitle = "Jacob Proffer";
---

<BaseLayout pageTitle={pageTitle}>
  <Hero headline={pageTitle}>
    <h2 class="text-orange">Front-End Developer Focused on Inclusive Web Experiences</h2>
  </Hero>
  <div class="grid gap-8 pt-8">
    <!-- Sections go here -->
  </div>
</BaseLayout>
