---
import BaseLayout from "@layouts/BaseLayout.astro";
import Avatar from "@components/Avatar.astro";
import Hero from "@components/Hero.astro";
import ProjectGrid from "@components/ProjectGrid.astro";
import Experience from "@components/Experience.astro";
import Education from "@components/Education.astro";
import Languages from "@components/Languages.astro";
const pageTitle = "Jacob Proffer – Front-End Developer";
const heroHeadline = "Jacob Proffer";
---

<BaseLayout pageTitle={pageTitle}>
  <Hero headline={heroHeadline}>
    <p class="max-w-prose leading-6">
      I'm a front-end developer based in Marquette, Michigan with ten years of
      agency experience. I specialize in crafting accessible and performant
      solutions for the web.
    </p>
  </Hero>
  <ProjectGrid headline="Personal Projects" />
  <Experience />
  <Education />
  <!-- <Languages /> -->
</BaseLayout>
