---
import BaseLayout from "@layouts/BaseLayout.astro";
import Avatar from "@components/Avatar.astro";
import Hero from "@components/Hero.astro";
import ProjectGrid from "@components/ProjectGrid.astro";
import Experience from "@components/Experience.astro";
import Education from "@components/Education.astro";
import { t } from "@utils/translations";

const currentLocale = Astro.currentLocale ?? "en";
const pageTitle = "Jacob Proffer – Front-End Developer";
const heroHeadline = "Jacob Proffer";
---

<BaseLayout pageTitle={pageTitle}>
  <Hero headline={heroHeadline}>
    <p class="max-w-prose text-lg/8">
      {t(currentLocale, "heroDescription")}
    </p>
  </Hero>
  <ProjectGrid headline={t(currentLocale, "projects")} />
  <Experience />
  <Education />
</BaseLayout>
