---
import BaseLayout from "../layouts/BaseLayout.astro";
import Projects from "./projects.astro";
const pageTitle = "Jacob Proffer";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Front-End Developer Focused on Inclusive Web Experiences</h2>
  <div class="grid gap-8 pt-8">
    <Projects />
  </div>
</BaseLayout>
