---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
const pageTitle = "Jacob Proffer";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Front-End Developer Focused on Inclusive Web Experiences</h2>
  <Section headline="Projects">
	This is a test.
  </Section>
</BaseLayout>
