---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
const allProjects = Object.values(import.meta.glob('./projects/*.md', { eager: true }));
const pageTitle = "Projects";
---

<BaseLayout pageTitle={pageTitle}>
    <Section headline={pageTitle}>
        <ol class="grid gap-2 mt-8">
            {allProjects.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
        </ol>
    </Section>
</BaseLayout>
