---
import Section from "@components/Section.astro";
import SecondaryHeadline from "./SecondaryHeadline.astro";

interface Props {
  dark?: boolean;
  secondaryHeadline?: string;
}

const { secondaryHeadline } = Astro.props;
---

<Section dark={Astro.props.dark}>
  {secondaryHeadline && <SecondaryHeadline text={secondaryHeadline} />}
  <slot />
</Section>
