---
import Section from "@components/Section.astro";
import SecondaryHeadline from "./SecondaryHeadline.astro";

interface Props {
  secondaryHeadline?: string;
  withPadding?: boolean;
}

const { secondaryHeadline, withPadding } = Astro.props;
---

<Section>
  {secondaryHeadline && <SecondaryHeadline text={secondaryHeadline} />}
  <div class="grid gap-3 bg-mid-blue">
    <div class={withPadding ? "p-3" : ""}>
      <slot />
    </div>
  </div>
</Section>
