---
import Section from "@components/Section.astro";
import SecondaryHeadline from "./SecondaryHeadline.astro";

interface Props {
  number: number;
  secondaryHeadline?: string;
}

const { number, secondaryHeadline } = Astro.props;
---

<Section>
  {
    secondaryHeadline && (
      <SecondaryHeadline number={number} text={secondaryHeadline} />
    )
  }
  <slot />
</Section>
