---
import Section from "@components/Section.astro";
import SecondaryHeadline from "./SecondaryHeadline.astro";

interface Props {
  secondaryHeadline?: string;
}

const { secondaryHeadline } = Astro.props;
---

<Section>
  {secondaryHeadline && <SecondaryHeadline text={secondaryHeadline} />}
  <slot />
</Section>
