---
import { Image } from "astro:assets";
import thumbnail from "@images/proffer_jacob.jpg";
---

<figure class="bg-dark-blue p-3 border-black border">
  <div class="h-full bg-mid-blue p-3 border-black border">
    <div class="relative border-black border max-md:aspect-video">
      <div
        class="absolute h-full w-full animate-pulse outline-4 outline-light-blue -outline-offset-4 opacity-75"
      >
      </div>
      <Image
        class="w-full h-full object-cover"
        src={thumbnail}
        alt=""
        loading="eager"
      />
    </div>
  </div>
</figure>
