---
import { formatDate } from "@utils/date";
import { t } from "@utils/translations";

interface Props {
  type: string;
  title: string;
  startDate?: string;
  endDate?: string;
  locale?: string;
}

const { type, title, startDate, endDate, locale = "en" } = Astro.props;
---

<div
  class="flex gap-x-6 gap-y-2 items-start justify-between py-4 border-t border-black max-md:flex-col"
>
  <h4 class="md:text-xl font-medium">
    {title}
  </h4>
  <div class="flex flex-wrap items-center gap-1 text-sm">
    {
      startDate && (
        <>
          <time class="text-lg" datetime={startDate}>
            {formatDate(startDate, locale)}
          </time>
          <div>-</div>
        </>
      )
    }
    {
      endDate ? (
        <time class="text-lg" datetime={endDate}>
          {formatDate(endDate, locale)}
        </time>
      ) : (
        <span class="text-lg">{t(locale, "present")}</span>
      )
    }
  </div>
</div>
