---
import { formatDate } from "@utils/date";
import { t } from "@utils/translations";

interface Props {
  type: string;
  title: string;
  startDate?: string;
  endDate?: string;
  dark?: boolean;
  locale?: string;
}

const { type, title, startDate, endDate, dark, locale = "en" } = Astro.props;
---

<div
  class="flex gap-x-6 gap-y-2 items-start justify-between py-4 border-t border-[--color-divider] max-md:flex-col"
>
  <h4
    class:list={[
      "text-[--color-text-primary] md:text-xl font-medium",
      { "text-[--color-text-secondary]": dark },
    ]}
  >
    {title}
  </h4>
  <div
    class:list={[
      "flex flex-wrap items-center gap-1 text-[--color-text-secondary] text-sm",
      { "text-[--color-text-tertiary]": dark },
    ]}
  >
    {
      startDate && (
        <>
          <time datetime={startDate}>{formatDate(startDate, locale)}</time>
          <div>-</div>
        </>
      )
    }
    {
      endDate ? (
        <time datetime={endDate}>{formatDate(endDate, locale)}</time>
      ) : (
        <span>{t(locale, "present")}</span>
      )
    }
  </div>
</div>
