---
import AboutSection from "@components/AboutSection.astro";
import DateItem from "@components/DateItem.astro";
import TertiaryHeadline from "./TertiaryHeadline.astro";
import { t } from "@utils/translations";

const currentLocale = Astro.currentLocale ?? "en";
---

<AboutSection secondaryHeadline={t(currentLocale, "education")} dark>
  <div class="education-item grid gap-3" data-animate>
    <TertiaryHeadline text={t(currentLocale, "universityName")} />
    <DateItem
      type="education"
      title={t(currentLocale, "degree")}
      startDate="2010-08"
      endDate="2014-05"
    />
  </div>
</AboutSection>

<script>
  import { animateOnScroll } from "../utils/animations";

  // Animate education section as it scrolls into view
  const educationItem = document.querySelector(".education-item");
  if (educationItem) {
    animateOnScroll(educationItem);
  }
</script>
