---
import Container from "@components/Container.astro";
import NavLink from "@components/NavLink.astro";

const links = [
  { href: "https://www.github.com/jacobproffer/", label: "GitHub" },
  {
    href: "https://www.linkedin.com/in/jacob-proffer-a829a892/",
    label: "LinkedIn",
  },
  {
    href: "https://dribbble.com/jacobproffer/",
    label: "Dribbble",
  },
  {
    href: "https://www.wanikani.com/users/chongo",
    label: "WaniKani",
  },
];
---

<footer class="py-20">
  <Container>
    <nav aria-label="secondary">
      <ul class="flex gap-4">
        {
          links
            .sort((a, b) => a.label.localeCompare(b.label))
            .map((link) => (
              <li>
                <NavLink href={link.href}>{link.label}</NavLink>
              </li>
            ))
        }
      </ul>
    </nav>
  </Container>
</footer>
