---
import NavLink from "@components/NavLink.astro";

const links = [
  { href: "https://monkeytype.com/profile/jproffer", label: "Monkeytype" },
  {
    href: "https://dribbble.com/jacobproffer/",
    label: "Dribbble",
  },
  {
    href: "https://www.wanikani.com/users/chongo",
    label: "WaniKani",
  },
];
---

<footer
  class="p-3 bg-linear-to-t from-dark-blue to-mid-blue border border-black border-l-highlight border-t-highlight"
>
  <nav aria-label="secondary">
    <ul class="flex gap-4">
      {
        links
          .sort((a, b) => a.label.localeCompare(b.label))
          .map((link) => (
            <li>
              <NavLink href={link.href}>{link.label}</NavLink>
            </li>
          ))
      }
    </ul>
  </nav>
</footer>
