---
import Container from "@components/Container.astro";
import NavLink from "@components/NavLink.astro";

const links = [
  { href: "https://www.github.com/jacobproffer/", label: "GitHub" },
  {
    href: "https://www.linkedin.com/in/jacob-proffer-a829a892/",
    label: "LinkedIn",
  },
  {
    href: "https://dribbble.com/jacobproffer/",
    label: "Dribbble",
  },
  {
    href: "https://www.wanikani.com/users/chongo",
    label: "WaniKani",
  },
];
---

<footer
  class="py-20 lg:py-28 border-t border-[--color-divider] bg-[--color-surface]"
>
  <Container>
    <div class="flex flex-col gap-8">
      <nav aria-label="secondary">
        <ul
          class="flex flex-wrap gap-x-8 gap-y-4 text-[--color-text-secondary] text-base"
        >
          {
            links
              .sort((a, b) => a.label.localeCompare(b.label))
              .map((link) => (
                <li>
                  <NavLink href={link.href}>{link.label}</NavLink>
                </li>
              ))
          }
        </ul>
      </nav>
      <p class="text-sm text-[--color-text-tertiary]">
        © {new Date().getFullYear()} Jacob Proffer. All rights reserved.
      </p>
    </div>
  </Container>
</footer>
