---
import Container from "@components/Container.astro";
import NavLink from "@components/NavLink.astro";

const links = [
  { href: "https://monkeytype.com/profile/jproffer", label: "Monkeytype" },
  {
    href: "https://dribbble.com/jacobproffer/",
    label: "Dribbble",
  },
  {
    href: "https://www.wanikani.com/users/chongo",
    label: "WaniKani",
  },
];
---

<footer class="py-20 text-white bg-black">
  <Container>
    <nav aria-label="secondary">
      <ul class="flex gap-4">
        {
          links
            .sort((a, b) => a.label.localeCompare(b.label))
            .map((link) => (
              <li>
                <NavLink href={link.href}>{link.label}</NavLink>
              </li>
            ))
        }
      </ul>
    </nav>
  </Container>
</footer>
