---
import Social from "./Social.astro";
---

<footer>
  <ul class="flex gap-2 mt-2 list-none p-0 m-0 list-none">
    <li>
      <Social platform="github" username="jacobproffer" />
    </li>
    <li>
      <Social platform="instagram" username="jacobproffer_" />
    </li>
  </ul>
</footer>
