<button
  class="md:hidden relative grid gap-y-1 p-2 cursor-pointer focus:outline-dashed focus:outline-orange focus:outline-1"
  data-hamburger
  aria-expanded="false"
>
  Open Menu
</button>

<script>
  document.addEventListener("astro:page-load", () => {
    const burger = document.querySelector("[data-hamburger]") as HTMLElement | null;
    const navigation = document.querySelector("[data-navigation]") as HTMLElement | null;
    const navLinks = document.querySelector("[data-nav-links]") as HTMLElement | null;

    // Navigation focus trapping
    function navigationFocus() {
      const focusableElements = navigation?.querySelectorAll('a[href], button');
      if (!focusableElements) return;
      const firstFocusableElement = focusableElements[0] as HTMLElement | null;
      const lastFocusableElement = focusableElements?.[focusableElements.length - 1] as HTMLElement | null;

      navigation?.addEventListener('keydown', function (e: KeyboardEvent) {
        if (e.target === firstFocusableElement && e.key === 'Tab' && e.shiftKey) {
          e.preventDefault();
          lastFocusableElement?.focus();
        } else if (e.target === lastFocusableElement && e.key === 'Tab' && !e.shiftKey) {
          e.preventDefault();
          firstFocusableElement?.focus();
        }
      });
    }

    if (burger && navLinks) {
      burger.addEventListener("click", () => {
        navLinks.classList.toggle("hidden");
        navigationFocus();

        if (navLinks.classList.contains("hidden")) {
          burger.setAttribute("aria-expanded", "false");
          burger.innerHTML = "Open Menu";
        } else {
          navLinks.classList.remove("hidden");
          burger.setAttribute("aria-expanded", "true");
          burger.innerHTML = "Close Menu";
        }
      });
    }
  });
</script>
