---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<div>
  <div class="flex content-center">
    <Hamburger />
    <ThemeIcon />
  </div>
  <Navigation />
</div>
