---
import Logo from "@components/Logo.astro";
import Navigation from "@components/Navigation.astro";
---

<div
  class="relative grid grid-cols-[max-content_max-content] items-center justify-between py-1 px-3 bg-gradient-to-t from-dark-blue to-mid-blue border border-black border-l-highlight border-t-highlight"
>
  <header>
    <a
      class="fixed -top-full left-1/2 py-1 px-4 -translate-x-1/2 transition-top ease-in-out delay-150 focus:top-0 focus:outline-dashed focus:outline-black focus:outline-1"
      href="#content">Skip to main content</a
    >
    <Logo />
  </header>
  <Navigation />
</div>
