---
import Container from "./Container.astro";
const { headline } = Astro.props;
---

<section class="md:h-screen pt-11">
  <Container class="relative z-10 h-full flex flex-col justify-end pb-7">
    <div>
        <h1>{headline}</h1>
        <slot />
    </div>
  </Container>
</section>
