---
import Section from "./Section.astro";

interface Props {
  headline: string;
}

const { headline } = Astro.props;
---

<Section>
  <div
    class="p-3 bg-linear-to-t from-dark-blue to-mid-blue border-black border-b-1"
  >
    {
      headline && (
        <h1 class="font-medium text-xl leading-8 text-balance">{headline}</h1>
      )
    }
  </div>
  <div
    class="p-3 m-3 border-1 border-black border-t-highlight border-l-highlight bg-mid-blue"
  >
    <slot />
  </div>
</Section>
