---
import Container from "./Container.astro";
import SecondaryHeadline from "./SecondaryHeadline.astro";
const { headline, secondaryHeadline } = Astro.props;
---

<section class="md:h-screen pt-[200px]">
  <Container class="relative z-10 h-full flex flex-col justify-end pb-7">
    <div class="grid gap-3">
      {headline && <h1 class="font-display font-medium text-xl leading-8 text-balance">{headline}</h1>}
      <SecondaryHeadline text={secondaryHeadline} />
    </div>
  </Container>
</section>
