---
import SecondaryHeadline from "@components/SecondaryHeadline.astro";

interface Props {
  headline: string;
  secondaryHeadline?: string;
}

const { headline, secondaryHeadline } = Astro.props;
---

<section>
  <div class="grid gap-2">
    {
      headline && (
        <h1 class="font-medium text-xl leading-8 text-balance">{headline}</h1>
      )
    }
    {
      secondaryHeadline && (
        <SecondaryHeadline text={secondaryHeadline} isOrange />
      )
    }
    <slot />
  </div>
</section>
