---
import Section from "./Section.astro";

interface Props {
  headline: string;
}

const { headline } = Astro.props;
---

<Section>
  {headline && <h1 class="text-6xl">{headline}</h1>}

  <slot />
</Section>
