<a class="text-gray underline underline-offset-2 decoration-white focus:outline-orange focus:outline-1 focus:outline-dashed hover:text-orange hover:no-underline transition-colors" target="_blank" {...Astro.props}>
    <slot />
</a>