---
import OutboundIcon from '../assets/images/outbound.svg';
---

<a
  class="dark:text-gray underline underline-offset-2 decoration-black dark:decoration-white focus:outline-orange focus:outline-1 focus:outline-dashed dark:hover:text-orange hover:no-underline transition-colors inline-flex items-center space-x-0"
  target="_blank"
  {...Astro.props}
>
  <span><slot /></span>
  <span class="sr-only">Opens a new tab</span>
  <OutboundIcon width={16} height={16} fill="currentColor" />
</a>
