<a
  class="text-yellow underline underline-offset-2 decoration-white focus:outline-light-blue focus:outline-1 focus:outline-dashed hover:no-underline transition-colors inline-flex items-center space-x-0"
  target="_blank"
  {...Astro.props}
>
  <span><slot /></span>
  <span class="sr-only">Opens a new tab</span>
</a>
