---
const url = new URL(Astro.props.href, Astro.url);
const isExternal = url.host !== Astro.url.host;
const { innerText } = Astro.props;
---

<a class="relative leading-none uppercase text-2xl before:absolute before:content-[attr(data-hover)] before:p-0 before:left-0 before:max-h-0 before:text-white before:overflow-hidden before:duration-[0.35s] hover:before:max-h-full hover:before:text-orange focus:outline-dashed focus:outline-orange focus:outline-1" target={isExternal ? "_blank" : '_self'} rel={isExternal ? "noopener" : null} data-hover={innerText} {...Astro.props}>{innerText}</a>
