---
import LogoGraphic from "@images/logo.svg";
---

<div class="grid items-center gap-3 md:grid-cols-[48px_1fr]">
  <div class="w-[48px] h-[48px]">
    <LogoGraphic mode="inline" />
  </div>
  <span class="text-lg max-md:hidden">proffer.dev</span>
</div>
