---
import LogoGraphic from "@images/logo.svg";
---

<div class="grid items-center gap-3 md:grid-cols-[48px_1fr]">
  <div class="w-12 h-12 transition-transform duration-300 hover:scale-105">
    <LogoGraphic />
  </div>
  <span class="text-lg font-semibold text-[--color-text-primary] max-md:hidden"
    >proffer.dev</span
  >
</div>
