---
import LogoGraphic from "@images/logo.svg";
---

<a
  class="block text-gray border-transparent border-solid border hover:text-white transition-color duration-300 focus:outline-light-blue focus:outline-1 focus:outline-dashed"
  href="/"
>
  <div class="grid grid-cols-[24px_1fr] items-center gap-2">
    <div class="w-[24px] h-[24px]">
      <LogoGraphic mode="inline" />
    </div>
    proffer.dev
  </div>
</a>
