---
import LogoGraphic from "@images/logo.svg";
---

<div class="grid grid-cols-[24px_1fr] items-center gap-2">
  <div class="w-[24px] h-[24px]">
    <LogoGraphic mode="inline" />
  </div>
  proffer.dev
</div>
