<nav aria-label="primary">
  <ul
    class="hidden md:flex p-0 gap-5 list-none nav-links w-full m-0"
    data-nav-links
  >
    <li>
      <a
        class="block text-black dark:text-white text-center py-1 decoration-0"
        href="/">Home</a
      >
    </li>
    <li>
      <a
        class="block text-black dark:text-white text-center py-1 decoration-0"
        href="/blog/">Blog</a
      >
    </li>
  </ul>
</nav>
