---
import NavLink from "@components/NavLink.astro";

const links = [
  { href: "https://www.github.com/jacobproffer/", label: "GitHub" },
  {
    href: "https://www.linkedin.com/in/jacob-proffer-a829a892/",
    label: "LinkedIn",
  },
];
---

<nav aria-label="social">
  <ul class="flex gap-3">
    {
      links
        .sort((a, b) => a.label.localeCompare(b.label))
        .map((link) => (
          <li>
            <NavLink href={link.href}>{link.label}</NavLink>
          </li>
        ))
    }
  </ul>
</nav>
