---
import Hamburger from "./Hamburger.astro"
import NavLink from "./NavLink.astro"
---
<nav aria-label="primary">
  <Hamburger />
  <ul
    class="hidden absolute top-[100px] left-0 md:relative md:flex md:top-0 p-0 gap-5 list-none nav-links w-full m-0"
    data-nav-links
  >
    <li>
      <NavLink href="/">Home</NavLink>
    </li>
    <li>
      <NavLink href="/projects/">Projects</NavLink>
    </li>
  </ul>
</nav>
