---
const url = new URL(Astro.props.href, Astro.url);
const isExternal = url.host !== Astro.url.host;
const isCurrent = url.href === Astro.url.href;
---

<a
  class="relative block pb-1 text-gray transition-color ease-in-out duration-300 hover:text-white before:absolute before:bottom-0 before:left-0 before:w-[1ch] before:h-[2px] before:bg-white before:transition-width before:duration-300 before:ease-in-out hover:before:w-full hover:before:bg-orange focus:outline-dashed focus:outline-orange focus:outline-1 aria-[current='page']:text-white aria-[current='page']:before:w-full aria-[current='page']:before:bg-orange"
  aria-current={isCurrent ? "page" : null}
  rel={isExternal ? "noopener" : null}
  target={isExternal ? "_blank" : '_self'}
  {...Astro.props}><slot /></a>
