---
import AboutSection from "@components/AboutSection.astro";
import InlineLink from "@components/InlineLink.astro";
---

<AboutSection>
  <div class="grid gap-y-1 max-w-[80ch]">
    <p>
      I'm a front-end developer based in Marquette, Michigan with over nine
      years of experience. I specialize in crafting accessible and performant
      solutions for the web.
    </p>
    <p>
      Currently working with <InlineLink href="https://astro.build/"
        >Astro</InlineLink
      >, <InlineLink href="https://tailwindcss.com/">Tailwind</InlineLink>, and <InlineLink
        href="https://www.typescriptlang.org/">TypeScript</InlineLink
      >.
    </p>
    <p>
      In my free-time, I <InlineLink href="https://jacobproffer.com/"
        >write</InlineLink
      >, study <InlineLink href="https://jacobproffer.com/japanese/"
        >Japanese</InlineLink
      >, and run the Noquemanon trails.
    </p>
  </div>
</AboutSection>
