---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

{
  text && (
    <div class="py-1 px-3 bg-linear-to-t from-dark-blue to-mid-blue w-full border-black border-b">
      <h2 class="font-medium text-lg leading-8 text-balance">{text}</h2>
    </div>
  )
}
