---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

{
  text && (
    <div>
      <h2 class="text-4xl font-medium leading-8 text-balance xl:text-6xl">
        {text}
      </h2>
    </div>
  )
}
