---
interface Props {
  number?: number;
  text: string;
}

const { number, text } = Astro.props;
---

{
  text && (
    <div class="flex items-start space-x-4">
      {number !== undefined && (
        <small class="text-xl font-black leading-9" aria-hidden="true">
          {number}
        </small>
      )}
      <h2 class="text-4xl font-semibold text-balance md:text-5xl xl:text-6xl">
        {text}
      </h2>
    </div>
  )
}
