---
interface Props {
  text: string,
  isOrange?: boolean,
}

const { text, isOrange } = Astro.props;
---

{
  text && (
    <h2 class={`font-medium text-lg leading-8 text-balance max-w-[44ch] ${isOrange ? 'text-orange' : ''}`}>
      {text}
    </h2>
  )
}
