---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

{
  text && (
    <div class="space-y-4">
      <div class="w-12 h-1 bg-[--color-accent] rounded-full" />
      <h2 class="text-4xl font-semibold leading-tight tracking-tight text-[--color-text-primary] text-balance md:text-5xl xl:text-6xl">
        {text}
      </h2>
    </div>
  )
}
