---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

{
  text && (
    <div>
      <h2 class="text-2xl font-medium leading-8 text-balance md:text-4xl xl:text-6xl">
        {text}
      </h2>
    </div>
  )
}
