---
import Container from './Container.astro';
import SecondaryHeadline from './SecondaryHeadline.astro';
import Circle from './Circle.astro';
const { headline } = Astro.props;
---

<section class="relative">
    <Container>
        <div class="flex items-center justify-between relative">
            <div>
                <SecondaryHeadline text={headline} />
            </div>
            <Circle />
        </div>
        <slot />
    </Container>
</section>