---
import SecondaryHeadline from "@components/SecondaryHeadline.astro";

interface Props {
  headline: string;
}

const { headline } = Astro.props;
---

<section class="bg-dark-blue border border-black">
  {headline && <SecondaryHeadline text={headline} />}
  <div class="p-3">
    <slot />
  </div>
</section>
