---
import SecondaryHeadline from "@components/SecondaryHeadline.astro";

interface Props {
  headline: string;
}

const { headline } = Astro.props;
---

<section class="relative">
  {headline && <SecondaryHeadline text={headline} />}
  <slot />
</section>
