---
import Section from "./Section.astro";
import NavLink from "./NavLink.astro";

const links = [
  { href: "https://www.github.com/jacobproffer/", label: "GitHub" },
  { href: "https://www.linkedin.com/in/jacob-proffer-a829a892/", label: "LinkedIn", },
  { href: "https://codepen.io/jacobproffer/", label: "CodePen" },
  { href: "https://www.dribbble.com/jacobproffer/", label: "Dribbble" },
];
---

{
  links?.length && (
    <Section headline="Elsewhere">
      <ul class="flex gap-2 mt-8">
        {links.map((link) => (
          <li>
            <NavLink href={link.href}>{link.label}</NavLink>
          </li>
        ))}
      </ul>
    </Section>
  )
}
