---
import Section from "./Section.astro";
import Link from "./Link.astro";
---

<Section headline="Elsewhere">
    <ul class="grid gap-2 mt-8 mb-11">
        <li>
            <Link href="https://www.codepen.io/jacobproffer/" innerText="CodePen" />
        </li>
        <li>
            <Link href="https://www.dribbble.com/jacobproffer/" innerText="Dribbble" />
        </li>
    </ul>
</Section>