---
import Section from "@components/Section.astro";
import NavLink from "@components/NavLink.astro";

const links = [
  { href: "mailto:jacob@proffer.dev", label: "Email" },
  { href: "https://www.github.com/jacobproffer/", label: "GitHub" },
  {
    href: "https://www.linkedin.com/in/jacob-proffer-a829a892/",
    label: "LinkedIn",
  },
  {
    href: "https://monkeytype.com/profile/jproffer",
    label: "Monkeytype",
  },
];
---

{
  links?.length && (
    <Section headline="Elsewhere" topSpacing>
      <ul class="flex gap-2 mt-8">
        {links
          .sort((a, b) => a.label.localeCompare(b.label))
          .map((link) => (
            <li>
              <NavLink href={link.href}>{link.label}</NavLink>
            </li>
          ))}
      </ul>
    </Section>
  )
}
