---
import Section from "./Section.astro";
import Social from "./Social.astro";
---

<Section headline="Elsewhere">
    <ul class="grid gap-2 mt-8">
        <li>
            <Social href="https://www.codepen.io/jacobproffer/" platform="CodePen" />
        </li>
        <li>
            <Social href="https://www.dribbble.com/jacobproffer/" platform="Dribbble" />
        </li>
    </ul>
</Section>