---
import "@fontsource-variable/raleway";
import ralewayWoff2 from "@fontsource-variable/raleway/files/raleway-latin-wght-normal.woff2";
import { ClientRouter } from "astro:transitions";
import SiteSEO from "../components/SiteSEO.astro";
import Header from "../components/Header.astro";
import SocialLinks from "../components/SocialLinks.astro";
import Footer from "../components/Footer.astro";

interface Props {
  pageTitle: string;
  pageDescription?: string;
}

const { pageTitle, pageDescription } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicons/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/favicons/safari-pinned-tab.svg"
      color="#000000"
    />
    <link rel="shortcut icon" href="/favicons/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta name="msapplication-config" content="/favicons/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="generator" content={Astro.generator} />
    <SiteSEO seo={{ title: pageTitle, description: pageDescription }} />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={ralewayWoff2}
      crossorigin="anonymous"
    />
    <ClientRouter />
  </head>
  <body class="mx-auto w-full leading-8 font-normal bg-gray dark:bg-black dark:text-white">
    <Header />
    <main id="content" transition:name="root" transition:animate="none">
      <slot />
      <SocialLinks topSpacing />
    </main>
    <Footer />
  </body>
</html>
