---
import BaseLayout from "./BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Container from "../components/Container.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title} pageDescription={frontmatter.description}>
  <article>
    <Hero headline={frontmatter.title} secondaryHeadline={frontmatter.secondaryTitle} />
    <Container>
      <p>Published on: {frontmatter.pubDate.toString().slice(0, 10)}</p>
      <slot />
    </Container>
  </article>
</BaseLayout>
