---
import BaseLayout from "./BaseLayout.astro";
import Container from "../components/Container.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <article>
    <Container>
      <p>Published on: {frontmatter.pubDate.toString().slice(0, 10)}</p>
      <p>Written by {frontmatter.author}</p>
      <slot />
    </Container>
  </article>
</BaseLayout>
